/*

For use with CSS3 Foundations: Styling the Modern Web
CSS3 Foundations Book: www.wiley.com/go/treehouse/css3foundations

Project Files: 05-02

 */

@import url("reset.css");

body {
    background-color: #f5f5f5;
    background-image: url("../images/bg-body.jpg");
    font-size: 62.5%;
    margin: 0 auto;
    max-width: 960px;
}

#header, #main, #footer {
    font-size: 1.6em; /* inherited value (10px) x 1.6em = 16px */
}

h1, h2, h3, h4 {
    font-weight: bold;
}

#main {
   background-color: white;
   background-color: rgba(255, 255, 255, 0.6);
   border: #ccc solid 1px;
   box-shadow: 0 3px 8px 0 #ccc;
}

.button {
    background-color: hotpink;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
}

blockquote p {
    font-style: italic;
}

blockquote p:before {
    content: "\201C";
}

blockquote p:after {
    content: "\201D";
}

aside > h3 {
    font-weight: bold;
}

p + .offer {
    color: red;
}

input[type="text"], input[type="email"] {
    border: none;
    box-shadow: -3px 3px 2px 0 #ccc inset;
}

input[type="submit"][class="button"] {
    font-size: 1em;
}

input[type="submit"][class="button"]:hover {
    background-color: #d4326d;
}

a:link {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:active {
    color: red;
}

a:focus {
    outline-color: black;
    outline-style: dotted;
    outline-width: 1px;
}

#content p:first-of-type:first-letter {
    font-size: 4em;
    font-weight: bold;
}

#newsletter {
    color: white;
    border-radius: 8px;
    border: rgba(0,0,0,0.1) solid 5px;
    background: url("../images/icon-newsletter.png") no-repeat 91% 2%, url("../images/bg-newsletter.png") repeat 0 #00ACDF;
    padding: 6%;
}

#footer {
    background: #ccc url("../images/bg-footer.jpg");
    border-top: #999 dotted 4px;
    -webkit-border-image: url("../images/bdr-footer.png") 4 repeat;
}

.showcase .button {
    padding: 20px;
    background-image: -webkit-linear-gradient(top, #FB3876 0%, #d4326d 100%);
    background-image: -moz-linear-gradient(to bottom, #FB3876 0%, #d4326d 100%);    
    background-image: -o-linear-gradient(to bottom, #FB3876 0%, #d4326d 100%);
    background-image: linear-gradient(to bottom, #FB3876 0%, #d4326d 100%);
}

.showcase .button:hover  {
    background-color: #00ACDF;
}

#content {
    width: 65%;
}

#header nav > ul {
    border-radius: 20px;
    border: #ccc solid 1px;
}

.showcase {
    box-shadow: 0 -3px 8px 0 #ccc;
    background: #f5f5f5;
}

.small-logo a {
    background: white url("../images/logo-small.png") no-repeat center;
    display: block;
    min-height: 11px;
    width: 162px;
    padding: 5px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

#header nav > ul > li {
    background: white;
}